NODE_ENV=development
PORT=3000
LIVEKIT_URL=wss://translatestream-wuc53qsp.livekit.cloud
LIVEKIT_API_KEY=API2T5VWnRxu3xZ
LIVEKIT_API_SECRET=rSdCeD6rib8XN3zBffRwstTk7D28Jhao9Rs2WQ1fwTNB
JWT_SECRET=change-me-super-secret-key
WORKER_INTERNAL_URL=http://worker:8000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/voice_translation
